.productdisplay{
    display: flex;
    margin: 0px 100px;
}
.productdisplay-left{
    display: flex;
    gap: 15px;

}
.product-display-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.product-display-img-list img{
    height: 129px;
    margin-top: 20px;

}
.productdisplay-main-img{
    width: 580px;
    height: 700px;
    padding: 20px;

}
.productdisplay-right{
    margin: 0px 30px;
    display: flex;
    flex-direction: column;

}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 0px;
    font-weight: 700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
    
}
.productdisplay-right-star img{
    height: 20px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-old-price{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-new-price{
    color: red;
}
.productdisplay-right-size{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.productdisplay-right-size div{
    padding: 18px 24px;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.add-to-cart{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #FF4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-right-category span{
    font-weight: 600;
}